---
# tasks file for installation and setup of etcd for the purposes of Tendrl

- name: Install etcd
  yum:
    name=etcd
    state=present

- name: Use http as protocol in etcd urls
  set_fact: etcd_url_protocol="http"
  when: etcd_tls_client_auth|bool == False

- name: Use http as protocol in etcd urls
  set_fact: etcd_url_protocol="https"
  when: etcd_tls_client_auth|bool == True

#
# https://coreos.com/etcd/docs/3.2.5/op-guide/configuration.html
#

- name: Configure etcd.conf ETCD_LISTEN_CLIENT_URLS
  lineinfile:
    dest=/etc/etcd/etcd.conf
    regexp="^(\#*)ETCD_LISTEN_CLIENT_URLS(.*)"
    line="ETCD_LISTEN_CLIENT_URLS=\"{{ etcd_url_protocol }}://{{ etcd_ip_address }}:2379\""
  notify:
    - restart etcd

- name: Configure etcd.conf ETCD_ADVERTISE_CLIENT_URLS
  lineinfile:
    dest=/etc/etcd/etcd.conf
    regexp="^(\#*)ETCD_ADVERTISE_CLIENT_URLS(.*)"
    line="ETCD_ADVERTISE_CLIENT_URLS=\"{{ etcd_url_protocol }}://{{ etcd_ip_address }}:2379\""
  notify:
    - restart etcd

#
# https://coreos.com/etcd/docs/latest/op-guide/security.html
#

- name: Configure etcd.conf ETCD_CERT_FILE (when TLS client auth is enabled)
  lineinfile:
    dest=/etc/etcd/etcd.conf
    regexp="^(\#*)ETCD_CERT_FILE(.*)"
    line="ETCD_CERT_FILE=\"{{ etcd_cert_file }}\""
  notify:
    - restart etcd
  when: etcd_tls_client_auth|bool == True

- name: Configure etcd.conf ETCD_KEY_FILE (when TLS client auth is enabled)
  lineinfile:
    dest=/etc/etcd/etcd.conf
    regexp="^(\#*)ETCD_KEY_FILE(.*)"
    line="ETCD_KEY_FILE=\"{{ etcd_key_file }}\""
  notify:
    - restart etcd
  when: etcd_tls_client_auth|bool == True

- name: Configure etcd.conf ETCD_CLIENT_CERT_AUTH (when TLS client auth is enabled)
  lineinfile:
    dest=/etc/etcd/etcd.conf
    regexp="^(\#*)ETCD_CLIENT_CERT_AUTH(.*)"
    line="ETCD_CLIENT_CERT_AUTH=\"true\""
  notify:
    - restart etcd
  when: etcd_tls_client_auth|bool == True

- name: Configure etcd.conf ETCD_TRUSTED_CA_FILE (when TLS client auth is enabled)
  lineinfile:
    dest=/etc/etcd/etcd.conf
    regexp="^(\#*)ETCD_TRUSTED_CA_FILE(.*)"
    line="ETCD_TRUSTED_CA_FILE=\"{{ etcd_trusted_ca_file }}\""
  notify:
    - restart etcd
  when: etcd_tls_client_auth|bool == True

#
# https://coreos.com/etcd/docs/latest/tuning.html
#

- name: Performance tweaks of etcd for Tendrl use case
  lineinfile:
    dest: /etc/etcd/etcd.conf
    regexp: ^(\#*){{ item.name }}(.*)
    line: "{{ item.name }}=\"{{ item.value }}\""
  with_items:
    - name: "ETCD_MAX_SNAPSHOTS"
      value: "2"
    - name: "ETCD_SNAPSHOT_COUNT"
      value: "5000"
    - name: "ETCD_HEARTBEAT_INTERVAL"
      value: "10000"
    - name: "ETCD_ELECTION_TIMEOUT"
      value: "50000"
  notify:
    - restart etcd

#
# Enable and start the service
#

- name: Enable etcd service
  service:
    name=etcd
    enabled=yes

- name: Start etcd service
  service:
    name=etcd
    state=started

- meta: flush_handlers
